.play-footer{
  position: relative;
  background-color: rgba(160, 160, 160, 0.04);
  height: 100%;
  audio{
    display: block;
    &:focus{
      outline: none;
    }
  }
  .play-footer-main{
    .song-content{
      height: 55;
      margin: 5px 10px 0 10px;
      .img-box{
        margin-right: 10px;
        img{
          width: 55px;
          height: 55px;
        }
      }
      .song-info{
        padding-top: 8px;
        font-size: 13px;
        .name{
          color: #333;
        }
      }
      .song-icon{
        padding-top: 12px;
        width: 40px;
        font-size: 14px;
      }
      
    }
  }
  .play-operate{
    margin: 7px 0 0 0;
    width: 400px;
    .small-icon{
      font-size: 34px;
      margin-top: 14px;
    }
    .big-icon{
      font-size: 40px;
      margin: 10px 20px 0;
    }
    .small-icon,.big-icon{
      cursor: pointer;
      color: #666;
      &:hover{
        color: #444;
      }
    }
  }
  .inventory{
    color: #333;
    padding-left: 120px;
    margin: 18px 40px 0 0;
    font-size: 18px;
    line-height: 36px;
  }
  .menu-unfold{
    margin: 10px 5px;
  }
  .play-list-box{
    position: absolute;
    bottom: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 400px;
    width: 400px;
    opacity: 0.9;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    .play-list-box-title{
      line-height: 28px;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}