.layout-aside-box{
  .logo-module{
    box-sizing: border-box;
    height: 80px;
    background-color: rgba($color: #000000, $alpha: 0.05);
    line-height: 80px;
    text-align: center;
  }
  .menu-title{
    line-height: 40px;
    text-indent: 5px;
  }
  li{
    color: #333;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 5px;
    border-radius: 2px;
    cursor: pointer;
    &:hover{
      background: rgba(40, 40, 40, 0.04)
    }
    a{
      display: block;
      width: 100%;
    }
    i{
      margin: 0 10px 0 10px;
    }
  }
  .aside-active{
    background-color: #31c27c;
    i{
      // color: #fff;
    }
  }
  .aside-active:hover{
    background-color: #31c27c;
  }
}