/* 全局的一些常用style的class */

/* flex 相关的东西 */
.d-f-w{
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
}
.d-f{
  display: flex;
  justify-content: flex-start;
}
.d-f-b{
  display: flex;
  justify-content: space-between;
}
.d-b-a{
  display: flex;
  justify-content: space-around;
}
/* padding 相关的东西 */
.p-5{
  padding: 5px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20{
  padding: 20px;
}

/* margin 相关的东西 */
.m-5{
  margin: 5px;
}
.m-10{
  margin: 10px;
}
.m-15{
  margin: 15px;
}
.m-20{
  margin: 20px;
}
.m-t-5{
  margin-top: 5px;
}
.m-t-10{
  margin-top: 10px;
}
.m-t-15{
  margin-top: 15px;
}
.m-t-20{
  margin-top: 20px;
}
.m-b-5{
  margin-bottom: 5px;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-b-15{
  margin-bottom: 15px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-r-5{
  margin-right: 5px;
}
.m-r-10{
  margin-right: 10px;
}
.m-r-15{
  margin-right: 15px;
}
.m-r-20{
  margin-right: 20px;
}
/* 省略的设置 */
.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

/* 数据指针 */
.c-p{
  cursor: pointer;
}