.login-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2001;
    background-color:rgba(0, 0, 0, 0.5);
    .wrapper-header{
        background-color: #f3f3f3;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 15px;
        line-height: 24px;
        span{
            font-size: 18px;
            color: #333;
            font-weight: bold;
        }
        .icon{
            line-height: 24px;
            font-size: 16px;
            &:hover{
                color: #000;
                font-weight: bold;
            }
        }
    }
    .box{
        width: 440px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        margin: 20vh auto 0;
        .login{
            height: 260px;
            padding: 15px 40px;
        }
        .register{
            height: 340px;
            padding: 15px 40px;
        }
    }
    .opreation{
        color: #1890ff;
        font-size: 14px;
    }
}