.layout-box{
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 70px);
  overflow: hidden;
  .layout-aside-box{
    width: 200px;
    background-color: rgba(160,160,160,0.02);
  }
  .layout-main-box{
    flex: 1;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
  }
  .layout-main-box::-webkit-scrollbar {/*滚动条整体样式*/
    width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/

  }
  .layout-main-box::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
      border-radius: 2px;
      box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: rgba(0,0,0,0.2);
  }
  .layout-main-box::-webkit-scrollbar-track {/*滚动条里面轨道*/
      box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
      border-radius: 0;
      background: rgba(0,0,0,0.1);
  }
}
.layout-footer{
  height: 70px;
}